nav{
    height:5em;
}
a.nav-link{
    color: white;
    margin-top:auto;
    margin-bottom:auto;
    padding-left:2em;
    font-size:26px;
}
a:hover{
    color:rgb(255, 235, 205);
}
#active{
    color:rgb(230, 186, 129);
}

img#banner{
    background-repeat: no-repeat;
    border-radius: 14px;
    max-width: 500px;
    max-height: 250px;
    float:left;
}

#banner-2{
    width:auto;
    height:477px;
    margin-left:auto;
    margin-right:auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}
.centerb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

a:hover#analysis{
    color:cornflowerblue;
}